body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: black;
color: aliceblue;
margin: 0;
}

.h1{text-align: center;
    animation: glow 2s infinite alternate;
    
    }

    @keyframes glow{
    50%{text-shadow:0 0 10px #5344d4}
    100%{text-shadow:0 0 30px #00ffff}
    

    
}


#Cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    }

.card{ 
    width: 275px;
    height:380px;
    border-radius:20px;
    text-align: center;
    background: rgb(12, 12, 12);
    
}

.card img{
    width: 100%; 
    border-radius: 10px;}